/* Cor de fundo */
.cor-de-fundo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(5, 1, 73, 0.691) 0%, rgb(134, 134, 189) 35%, rgba(81,158,174,1) 100%);
  background-blend-mode: multiply, normal;
  z-index: -1;
}

.dropbtn {
  position: absolute;
  width: 222px;
  top: 20px;
  left: 50%; /* Centraliza o botão na horizontal */
  transform: translateX(-50%); /* Ajusta o posicionamento */
  background-color: #D83737;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 34px;
  z-index: 2;

}
.hidden {
  color: transparent;
  visibility: hidden;
}

.dropdown {
  position: relative;
  top: -142px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  top: 30px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

body, html {
  margin: 0;
  padding: 0;
}

/* Contêiner principal */
.main-container {
  min-height: 1000vh;
  position: relative;
}

.whatsapp-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 11px;
}

.whatsapp {
  width: 56px;
  height: 58px;
  background: url(whatsapp.jpg);
  border-radius: 43px;
  z-index: 10;
}

.phone-number {
  margin-left: 10px;
  width: 100px;
  height: 39px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
  z-index: 10;
}

.medica-paciente {
  position: absolute;
  width: 1452px;
  height: 275px;
  top: 68px;
  background: url("medica-paciente.png");
  background-size: cover;
  border-radius: 0px 0px 142px 0px;
  opacity: 1.5; /* Adicione a opacidade desejada aqui (valores entre 0 e 1) */
}
  

.foto-apresenta {
  position: absolute;
  width: 234px;
  height: 297.54px;
  left: 110px;
  top: 468px;
  background: url("foto-apresenta.jpg");
  background-size: 100%;
  border-radius: 32px 32px 32px 32px;
  .opacity: 1;
}

.exame-text {
  position: absolute;
  left: 240px;
  top: 6px;
  width: 341px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #abfdff;
}

.texto-apresentacao {
  position: absolute;
  left: 420px;
  top: 426px;
  width: 948px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #043637;
}

.rectangle-2 {
  position: absolute;
  left: 467px;
  top: 879px;
  width: 806px;
  height: 227px;
  background: #F5F5F5;
  border-radius: 51px;
}

.custom-text {
  position: absolute;
  left: 714px;
  top: 1440px;
  width: 804px;
  height: 177px;
  font-family: 'Apple Chancery', cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  text-indent: 2px;
  text-decoration: underline;
  color: #043637;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-text-2 {
  position: absolute;
  width: 788px;
  top: 428px;
  left: 360px;
  height: 274px;
  font-family: 'Arapey', Arapey;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  text-indent: 2px;
  color: #000000;
}

.group-3 {
  position: absolute;
  left: 360px;
  top: 700px;
  width: 816px;
  height: 203px;
  border-radius: 10px;
}

.group-3 {
  position: absolute;
  left: 360px;
  top: 700px;
  width: 816px;
  height: 203px;
  background-color: rgba(134, 134, 134, 0.89);
  border-radius: 10px;
}

.rectangle-39 {
  position: absolute;
  width: 1231px;
  height: 371px;
  left: 126px;
  top: 887px;
  background: #b8c8f2;
  border-radius: 67px;
}

.tabela-2 {
  position: absolute;
  width: 788px;
  top: 926px;
  left: 130px;
  height: 274px;
  font-family: 'Arapey', Arapey;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  text-indent: 2px;
  color: #0e0303;

}

.tabela-3 {
  position: absolute;
  width: 788px;
  top: 896px;
  left: 597px;
  height: 274px;
  font-family: 'Arapey', Arapey; /* Substitua por uma fonte do Google Fonts ou uma fonte padrão da web, se necessário */
  font-style: italic;
  font-weight: normal;
  font-size: 37px;
  line-height: 19px;
  text-indent: 2px;
  color: #0e0303;
}

.rectangle-40 {
  position: absolute;
  width: 1231px;
  height: 371px;
  left: 126px;
  top: 1353px;
  background: #b8c8f2;
  border-radius: 67px;
}

.rectangle-41 {
  position: absolute;
  width: 40px;
  height: 23px;
  left: 1200px;
  top: 18px;
  background: #DB2C2C;
  border-radius: 18px;
  z-index: 1; 
}

.agendamento {
  position: absolute;
  width: 128px;
  height: 20px;
  left: 1102px;
  top: 11px;
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-indent: 2px;
  color: #f6f2f2;
}

/* iniciando aqui */
.submenu {
  display: none;
  position: absolute;
  width: 300px;
  height: 150px;
  left: 1082px;
  top: 50px;
  background: #FFFFFF;
  border-radius: 18px;
  padding: 10px;
  z-index: 100; 
}

.submenu input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.submenu button {
  width: 100%;
  padding: 5px;
  background-color: #DB2C2C;
  color: #f6f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 767px)
.medica-paciente {
    left200px: inherit;
    left: -210px;
    height: 85px;
}
.phone-number {
  color: #FFFFFF;
  z-index: 10;
}
/* Estilos básicos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submenu,
  .whatsapp-container,
  .medica-paciente,
  .foto-apresenta,
  .exame-text,
  .tabela-3,
  .custom-text-2,
  .tabela-2 {
    max-width: 1552px;
    box-sizing: border-box;
  }
.agendamento {
    width: 137px;
    font-size: 20px;
    height: 50px;
    top: 208px;
    left: 1185px;
}
 .phone-number {
  color: #FFFFFF;
  z-index: 10;
}
  .dropbtn {
    width: 222px;
    top: -81px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    left: 486px;
}
  
.dropdown-content {
    display: block;
    left: 495px;
    top: -61px;
} 
.rectangle-41 {
    width: 50px;
    height: 50px;
    top: 212px;
    left: 1130px;
    border-radius: 72px 72px 72px 72px;
  }
  .rectangle-41 {
    width: 70px;
    left: 1107px;
    height: 60px;
    top: 201px;
  }
/* Estilos gerais */
/* ...seus estilos básicos aqui... */

/* Tablets em modo retrato e dispositivos móveis grandes (landscape) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submenu,
  .whatsapp-container,
  .medica-paciente,
  .foto-apresenta,
  .exame-text,
  .tabela-3,
  .custom-text-2,
  .tabela-2 {
    max-width: 1552px;
    box-sizing: border-box;
  }
.agendamento {
    width: 137px;
    font-size: 20px;
    height: 50px;
    top: 208px;
    left: 1185px;
}
 .phone-number {
  color: #FFFFFF;
  z-index: 10;
}
  .dropbtn {
    width: 222px;
    top: -81px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    left: 486px;
}
  
.dropdown-content {
    display: block;
    left: 495px;
    top: -61px;
} 
.rectangle-41 {
    width: 50px;
    height: 50px;
    top: 212px;
    left: 1130px;
    border-radius: 72px 72px 72px 72px;
  }
  .rectangle-41 {
    width: 70px;
    left: 1107px;
    height: 60px;
    top: 201px;
  }
}

/* Tablets em modo paisagem e dispositivos móveis grandes (portrait) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
   .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submenu,
  .whatsapp-container,
  .medica-paciente,
  .foto-apresenta,
  .exame-text,
  .tabela-3,
  .custom-text-2,
  .tabela-2 {
    max-width: 1552px;
    box-sizing: border-box;
  }
.agendamento {
    width: 137px;
    font-size: 20px;
    height: 50px;
    top: 208px;
    left: 1185px;
}
 .phone-number {
  color: #FFFFFF;
  z-index: 10;
}
  .dropbtn {
    width: 222px;
    top: -81px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    left: 486px;
}
  
.dropdown-content {
    display: block;
    left: 495px;
    top: -61px;
}  
.rectangle-41 {
    width: 50px;
    height: 50px;
    top: 212px;
    left: 1130px;
    border-radius: 72px 72px 72px 72px;
  }
  .rectangle-41 {
    width: 70px;
    left: 1107px;
    height: 60px;
    top: 201px;
  }
}

/* Telas pequenas de laptops e desktops */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submenu,
  .whatsapp-container,
  .medica-paciente,
  .foto-apresenta,
  .exame-text,
  .tabela-3,
  .custom-text-2,
  .tabela-2 {
    max-width: 1552px;
    box-sizing: border-box;
  }
.agendamento {
    width: 137px;
    font-size: 20px;
    height: 50px;
    top: 208px;
    left: 1185px;
}
 .phone-number {
  color: #FFFFFF;
  z-index: 10;
}
  .dropbtn {
    width: 222px;
    top: -81px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    left: 486px;
}
.dropdown-content {
    display: block;
    left: 495px;
    top: -61px;
}  
  
.rectangle-41 {
    width: 50px;
    height: 50px;
    top: 212px;
    left: 1130px;
    border-radius: 72px 72px 72px 72px;
  }
  .rectangle-41 {
    width: 70px;
    left: 1107px;
    height: 60px;
    top: 201px;
  }
}

/* Telas grandes de laptops e desktops */
@media screen and (min-width: 1201px) {
    .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submenu,
  .whatsapp-container,
  .medica-paciente,
  .foto-apresenta,
  .exame-text,
  .tabela-3,
  .custom-text-2,
  .tabela-2 {
    max-width: 1552px;
    box-sizing: border-box;
  }
.agendamento {
    width: 137px;
    font-size: 20px;
    height: 50px;
    top: 208px;
    left: 1185px;
}
 .phone-number {
  color: #FFFFFF;
  z-index: 10;
}
  .dropbtn {
    width: 222px;
    top: -81px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    left: 486px;
}
  
  
.rectangle-41 {
    width: 50px;
    height: 50px;
    top: 212px;
    left: 1130px;
    border-radius: 72px 72px 72px 72px;
  }
  .dropdown-content {
    display: block;
    left: 495px;
    top: -61px;
}
  .rectangle-41 {
    width: 70px;
    left: 1107px;
    height: 60px;
    top: 201px;
  }
}

  .rectangle-39,
  .rectangle-40 {
   
  }
}

